body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.enviar
{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#enviar
{
    color: white;
    background-color: #ff7514;width:18vw;
    height: 3vw;
    border-radius: 10px;
    border: none;
    font-size: 1.5vw;
}

.barras 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.8vw;
    height: 0.8vw;
    cursor: pointer;
}
.bar {
    width: 100%;
    height: 0.3vw;
    background-color: #333;
    margin: 6px 0;
  }

.icono
{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#icono
{
    width: 2.5vw;
    height: 2.5vw;
}
.añadir
{
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
}
#foto
{
    width: 2vw;
    height: 2vw;
}
.textañadir
{
    position: absolute;
    top: 5%;
    left: 14%;
    transform: translate(-50%, -50%);
    color: black;
}
#text
{
    font-size: 1.5vw;
}
.refrescar
{
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.textrefrescar
{
    position: absolute;
    top: 5%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
}
.eliminar
{
    position: absolute;
    top: 5%;
    left: 32%;
    transform: translate(-50%, -50%);
}
.texteliminar
{
    position: absolute;
    top: 5%;
    left: 37%;
    transform: translate(-50%, -50%);
    color: black;
}
.reportar
{
    position: absolute;
    top: 5%;
    left: 62%;
    transform: translate(-50%, -50%);
}
.textreportar
{
    position: absolute;
    top: 5%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: black;
}
.ayuda
{
    position: absolute;
    top: 5%;
    left: 74%;
    transform: translate(-50%, -50%);
}
.textayuda
{
    position: absolute;
    top: 5%;
    left: 78%;
    transform: translate(-50%, -50%);
    color: black;
}
.user
{
    position: absolute;
    top: 5%;
    left: 97%;
    transform: translate(-50%, -50%);
}
.campanita
{
    position: absolute;
    top: 5%;
    left: 94%;
    transform: translate(-50%, -50%);
}
.settings
{
    position: absolute;
    top: 5%;
    left: 92%;
    transform: translate(-50%, -50%);
}
#botoncitos
{
    width: 1vw;
    height: 1.5vw;
}
#foto2
{
    width: 3vw;
    height: 3vw;
}
.titulo
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#titulo
{
    font-size: 1.8vw;
    font-weight: bold;
}
.subtitulo
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#subtitulo
{
    font-size: 1.2vw;
    text-align: center;
}

#titulos{
    font-size: 1.2vw;
    font-weight: bold;
}

.indicador{
    position: absolute;
    top: 27%;
    left: 6%;
    transform: translate(-50%, -50%);
}

.descripcion{
    position: absolute;
    top: 27%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.categoria{
    position: absolute;
    top: 27%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.fechainicio{
    position: absolute;
    top: 27%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.fechafinal{
    position: absolute;
    top: 27%;
    left: 56%;
    transform: translate(-50%, -50%);
}

.formula{
    position: absolute;
    top: 27%;
    left: 66%;
    transform: translate(-50%, -50%);
}

.frecuencia{
    position: absolute;
    top: 27%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.cumplimiento{
    position: absolute;
    top: 27%;
    left: 81%;
    transform: translate(-50%, -50%);
}

.area{
    position: absolute;
    top: 27%;
    left: 88%;
    transform: translate(-50%, -50%);
}

#textos{
    font-size: 1.2vw;
    color: gray;
}

.r1{
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
}

.r2{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.r3{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.r4{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.r5{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.r6{
    position: absolute;
    top: 50%;
    left: 71%;
    transform: translate(-50%, -50%);
}

.r7{
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.r8{
    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
}

.r9{
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.b1{
    position: absolute;
    top: 31.5%;
    left: 94%;
    transform: translate(-50%, -50%);
}

.b2{
    position: absolute;
    top: 39.5%;
    left: 94%;
    transform: translate(-50%, -50%);
}

.b3{
    position: absolute;
    top: 47.5%;
    left: 94%;
    transform: translate(-50%, -50%);
}
.b4{
    position: absolute;
    top: 55.5%;
    left: 94%;
    transform: translate(-50%, -50%);
}
.b5{
    position: absolute;
    top: 63.5%;
    left: 94%;
    transform: translate(-50%, -50%);
}
.b6{
    position: absolute;
    top: 71.5%;
    left: 94%;
    transform: translate(-50%, -50%);
}
.seccion1{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 33%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.seccion2{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 41%;
    left: 47%;
    transform: translate(-50%, -50%);
}
.seccion3{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 49%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.seccion4{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 57%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.seccion5{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 65%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.seccion6{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 73%;
    left: 47%;
    transform: translate(-50%, -50%);
}
  #enviar
  {
    cursor: pointer;
  }
  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  #popup:target {
    display: block;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  #overlay:target {
    display: block;
  }

  #close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  #popup
{
    width: 20vw;
    height: 20vw;
    border-radius: 10%;
    background-color: white;
    z-index: 9999;
}
.equis
{
    position: absolute;
    top: 3%;
    left: 95%;
    transform: translate(-50%, -50%);
}
#equis
{
    width: 1.5vw;
    height: 1.5vw;
}
.nameuser
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.email
{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#email
{
    text-align: center;
}
#imgpu
{
    width: 5vw;
    height: 5vw;
}
.imgpu
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.enviar
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#enviar
{
    color: white;
}

#popup2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  #popup2:target {
    display: block;
  }

  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  #overlay:target {
    display: block;
  }

  #close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  #popup2
{
    width: 20vw;
    height: 20vw;
    border-radius: 10%;
    background-color: white;
    z-index: 9999;
}
.perfil
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.configuracion
{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*---------------------------------------------------------*/
@property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes progress {
   to { --progress-value: 31; }
  }
  
  .progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    font-size: 2vw;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(236, 50, 50) calc(var(--progress-value) * 1%), rgba(158, 148, 148, 0.486) 0);
    animation: progress 2s 1 forwards;
  }
  
  .progress-bar::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    font-size: 1vw;
    animation: progress 2s 1 forwards;
  }
  /*---------------------------------------------------------*/
  @property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes a-progress {
   to { --progress-value: 25; }
  }
  
  .progress-bar1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    font-size: 1vw;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(230, 32, 32) calc(var(--progress-value) * 1%), rgba(158, 148, 148, 0.486) 0);
    animation: a-progress 2s 1 forwards;
  }
  
  .progress-bar1::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    font-size: 1vw;
    animation: a-progress 2s 1 forwards;
}
  /*---------------------------------------------------------*/
  @property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes e-progress {
   to { --progress-value: 80; }
  }
  
  .progress-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    font-size: 1vw;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(105, 255, 113) calc(var(--progress-value) * 1%), rgba(158, 148, 148, 0.486) 0);
    animation: e-progress 2s 1 forwards;
  }
  
  .progress-bar2::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    font-size: 1vw;
    animation: e-progress 2s 1 forwards;
}
  /*---------------------------------------------------------*/
  @property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes i-progress {
   to { --progress-value: 32; }
  }
  
  .progress-bar3 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    font-size: 1vw;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(230, 61, 61) calc(var(--progress-value) * 1%), rgba(158, 148, 148, 0.486) 0);
    animation: i-progress 2s 1 forwards;
  }
  
  .progress-bar3::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    font-size: 1vw;
    animation: i-progress 2s 1 forwards;
}
  /*---------------------------------------------------------*/
  @property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes o-progress {
   to { --progress-value: 95; }
  }
  
  .progress-bar4 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    font-size: 1vw;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(105, 255, 113) calc(var(--progress-value) * 1%), rgba(158, 148, 148, 0.486) 0);
    animation: o-progress 2s 1 forwards;
  }
  
  .progress-bar4::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    font-size: 1vw;
    animation: o-progress 2s 1 forwards;
}
  /*---------------------------------------------------------*/
  @property --progress-value {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes u-progress {
   to { --progress-value: 75; }
  }
  
  .progress-bar5 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 2.6vw;
    height: 2.6vw;
    border-radius: 50%;
    font-size: 1vw;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(255, 128, 0) calc(var(--progress-value) * 1%), rgba(158, 148, 148, 0.486) 0);
    animation: u-progress 2s 1 forwards;
  }
  
  .progress-bar5::before {
    counter-reset: percentage var(--progress-value);
    content: counter(percentage) '%';
    font-size: 1vw;
    animation: u-progress 2s 1 forwards;
}

/*----------------------------------------------------------------------------------------------------------------------*/

.x{
    width: 3vw;
    height: 4vh;
    position:absolute;
    top: 20%;
    left: -2%;

    opacity: 100;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-name: x;
    z-index: 1;
}

@keyframes x{
    0%{
        opacity: 10%;
        transform: scale(0.5);
    }
    50%{
        opacity: 50%;
        transform: scale(0.8);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/

.x1{
    width: 3vw;
    height: 4vh;
    position:absolute;
    top: 20%;
    left: -2%;

    opacity: 100;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-name: x1;
    z-index: 1;
}

@keyframes x1{
    0%{
        opacity: 10%;
        transform: scale(0.5);
    }
    50%{
        opacity: 50%;
        transform: scale(0.8);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/

.x2{
    width: 3vw;
    height: 4vh;
    position:absolute;
    top: 20%;
    left: -2%;

    opacity: 100;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-name: x2;
    z-index: 1;
}

@keyframes x2{
    0%{
        opacity: 10%;
        transform: scale(0.5);
    }
    50%{
        opacity: 50%;
        transform: scale(0.8);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/

.x3{
    width: 3vw;
    height: 4vh;
    position:absolute;
    top: 20%;
    left: -2%;

    opacity: 100;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-name: x3;
    z-index: 1;
}

@keyframes x3{
    0%{
        opacity: 10%;
        transform: scale(0.5);
    }
    50%{
        opacity: 50%;
        transform: scale(0.8);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/

.x4{
    width: 3vw;
    height: 4vh;
    position:absolute;
    top: 20%;
    left: -2%;

    opacity: 100;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-name: x4;
    z-index: 1;
}

@keyframes x4{
    0%{
        opacity: 10%;
        transform: scale(0.5);
    }
    50%{
        opacity: 50%;
        transform: scale(0.8);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/

.x5{
    width: 3vw;
    height: 4vh;
    position:absolute;
    top: 20%;
    left: -2%;

    opacity: 100;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-name: x5;
    z-index: 1;
}

@keyframes x5{
    0%{
        opacity: 10%;
        transform: scale(0.5);
    }
    50%{
        opacity: 50%;
        transform: scale(0.8);
    }
    100%{
        opacity: 100%;
        transform: scale(1);
    }
}
#enviar
{
    background-color: rgb(255, 128, 0);width:15vw;height: 3vw;border-radius: 10px;border: none;font-size: 1.5vw;
}