

.icono
{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#icono
{
    width: 2.5vw;
    height: 2.5vw;
}
.añadir
{
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-50%, -50%);
}
#foto
{
    width: 2vw;
    height: 2vw;
}
.textañadir
{
    position: absolute;
    top: 5%;
    left: 14%;
    transform: translate(-50%, -50%);
}
#text
{
    font-size: 1.5vw;
}
.refrescar
{
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.textrefrescar
{
    position: absolute;
    top: 5%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: black;
}
.eliminar
{
    position: absolute;
    top: 5%;
    left: 32%;
    transform: translate(-50%, -50%);
}
.texteliminar
{
    position: absolute;
    top: 5%;
    left: 37%;
    transform: translate(-50%, -50%);
}
.reportar
{
    position: absolute;
    top: 5%;
    left: 62%;
    transform: translate(-50%, -50%);
}
.textreportar
{
    position: absolute;
    top: 5%;
    left: 67%;
    transform: translate(-50%, -50%);
    color: black;
}
.ayuda
{
    position: absolute;
    top: 5%;
    left: 74%;
    transform: translate(-50%, -50%);
}
.textayuda
{
    position: absolute;
    top: 5%;
    left: 78%;
    transform: translate(-50%, -50%);
    color: black;
}
.user
{
    position: absolute;
    top: 5%;
    left: 97%;
    transform: translate(-50%, -50%);
}
.campanita
{
    position: absolute;
    top: 5%;
    left: 94%;
    transform: translate(-50%, -50%);
}
.settings
{
    position: absolute;
    top: 5%;
    left: 92%;
    transform: translate(-50%, -50%);
}
#botoncitos
{
    width: 1vw;
    height: 1.5vw;
}
#foto2
{
    width: 3vw;
    height: 3vw;
}
.titulo
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#titulo
{
    font-size: 1.8vw;
    font-weight: bold;
}
.subtitulo
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#subtitulo
{
    font-size: 1.2vw;
    text-align: center;
}

#titulos{
    font-size: 1.2vw;
    font-weight: bold;
}

.indicador{
    position: absolute;
    top: 27%;
    left: 6%;
    transform: translate(-50%, -50%);
}

.descripcion{
    position: absolute;
    top: 27%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.categoria{
    position: absolute;
    top: 27%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.fechainicio{
    position: absolute;
    top: 27%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.fechafinal{
    position: absolute;
    top: 27%;
    left: 56%;
    transform: translate(-50%, -50%);
}

.formula{
    position: absolute;
    top: 27%;
    left: 66%;
    transform: translate(-50%, -50%);
}

.frecuencia{
    position: absolute;
    top: 27%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.cumplimiento{
    position: absolute;
    top: 27%;
    left: 81%;
    transform: translate(-50%, -50%);
}

.area{
    position: absolute;
    top: 27%;
    left: 88%;
    transform: translate(-50%, -50%);
}

.seccion1{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 33%;
    left: 47%;
    transform: translate(-50%, -50%);
}

#textos{
    font-size: 1.2vw;
    color: gray;
}

.r1{
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
}

.r2{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.r3{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.r4{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.r5{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.r6{
    position: absolute;
    top: 50%;
    left: 71%;
    transform: translate(-50%, -50%);
}

.r7{
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translate(-50%, -50%);
}

.r8{
    position: absolute;
    top: 50%;
    left: 88%;
    transform: translate(-50%, -50%);
}

.r9{
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
}

.seccion2{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 41%;
    left: 47%;
    transform: translate(-50%, -50%);
}
.seccion3{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 49%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.seccion4{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 57%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.seccion5{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 65%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.seccion6{
    border: 1px solid gray;
    border-radius: 20px;
    width: 91vw;
    height: 3.5vw;
    position: absolute;
    top: 73%;
    left: 47%;
    transform: translate(-50%, -50%);
}
