<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kario Media PM</title>
    <link rel="stylesheet" href="../css/añadir.css">
    <link rel="icon" type="image/x-icon" href="../storage/img/kario sin kairo.svg">
</head>
<body>
    <a href="../view/main.html"><div class="icono">
        <img id="icono" src="../storage/img/kario sin kairo.svg">
    </div></a>
    <div class="añadir">
        <img id="foto" src="../storage/img/Group 7.svg">
    </div>
    <a href="../view/añadir.html"><div class="añadir">
        <img id="foto" src="../storage/img/Group 7.svg">
    </div>
    <div class="textañadir">
        <p id="text">Añadir</p>
    </div></a>
    <div class="refrescar">
        <img id="foto" src="../storage/img/Icon open-reload.svg">
    </div>
    <a href="../view/refrescarreportes.html"><div class="refrescar">
        <img id="foto" src="../storage/img/Icon open-reload.svg"> 
    </div>
    <div class="textrefrescar">
        <p id="text">Refrescar</p>
    </div></a>
    <a href="../view/eliminar.html"><div class="eliminar">
        <img id="foto" src="../storage/img/Icon material-delete-forever.svg">
    </div>
    <div class="texteliminar">
        <p id="text">Eliminar</p>
    </div></a>
    <a href="../view/report.html"><div class="reportar">
        <img id="foto" src="../storage/img/Icon material-bug-report.svg">
    </div>
    <div class="textreportar">
        <p id="text">Reportar</p>
    </div></a>
    <a href="../view/ayuda.html"><div class="ayuda">
        <img id="foto" src="../storage/img/Icon ionic-ios-help-circle.svg">
    </div>
    <a href="../view/ayuda.html"><div class="textayuda">
        <p id="text">Ayuda</p>
    </div></a>
    <div class="volver">
        <a href="../view/main.html"><input type="submit" id="enviar" value="Volver"></a>
    </div>

    <div class="formulario">
        <div class="formulario-form">
            <h3 class="titulo-f">Nuevos <span>Clientes</span></h2>
            <form>
                <p class="block">
                <label>Nombre Completo</label>
                <input type="text">
               </p>
               <p class="block">
                <label>Telefono</label>
                <input type="tel" name="telefono">
               </p>
               <p class="block">
                <label>Email</label>
                <input type="email">
               </p>
               <p>
                <label>Fecha de Inicio</label>
                <input type="date">
               </p>
               <p>
                <label>Fecha de Finalizacion (opcional)</label>
                <input type="date">
               </p>
               <p>
                <label>Categoria</label>
                <select>
                    <option></option>
                    <option>Alta</option>
                    <option>Media</option>
                    <option>Baja</option>
                </select>
               </p>
               <p>
                <label>Tipo de Formula</label>
                <select>
                    <option></option>
                    <option>Met.Ágil</option>
                    <option>Met.Expo</option>
                    <option>Met.Fibo</option>
                    <option>N/A</option>
                </select>
               </p>
               <p>
                <label>Tipo de Frecuencia</label>
                <select>
                    <option></option>
                    <option>1/4</option>
                    <option>1/3</option>
                    <option>1/2</option>
                </select>
               </p>
               <p>
                <label>Area de Trabajo</label>
                <select>
                    <option></option>
                    <option>Marketing</option>
                    <option>Diseño</option>
                    <option>Developers</option>
                    <option>Gerencia</option>
                    <option>Produccion</option>
                </select>
               </p>
               <p >
                <label>Descripcion</label>
                <textarea name="descripcion"cols="30" rows="10"></textarea>
               </p>
               <p >
                <button type="submit">Añadir Cliente</button>
               </p>
            </form>

        </div>
    </div>
</body>
</html>