<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kario Media PM</title>
    <meta http-equiv="refresh" content="3; url=../view/carga2.html">
    <link rel="htmlsheet" href="../view/carga2.html">
    <link rel="stylesheet" href="../css/login2.css">
    <link rel="icon" type="image/x-icon" href="../storage/img/kario sin kairo.svg">
</head>
<body>
    <div class="centro">
        <div class="icono">
            <img id="icono" src="../storage/img/kario.png">
        </div>
        <div class="titulo">
            <p id="titulo">Bienvenido de nuevo</p>
        </div>
        <div class="pedrito">
            <img id="pedrito" src="../storage/img/pp.png">
        </div>
        <div class="titulo2">
            <p id="titulo2">Pedro Felipe Gomez Bonilla</p>
        </div>
        <div class="footer">
            <p id="footer">Usuario Administrador</p>
        </div>
        

    </div>
</body>
</html>