<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kario Media PM</title>
    <meta http-equiv="refresh" content="2; url=/reportar/report.html">
    <link rel="htmlsheet" href="/Login/index.html">
    <link rel="stylesheet" href="/pantallaCarga/carga.css">
    <link rel="icon" type="image/x-icon" href="/media/kario sin kairo.svg">
</head>
<body>
    <div class="centro">
        <div class="icono">
            <img src="/media/kario sin kairo.svg">
        </div>
    </div>
</body>
</html>