<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kario Media PM</title>
    <meta http-equiv="refresh" content="2; url=../view/ayuda.html">
    <link rel="htmlsheet" href="../view/index.html">
    <link rel="stylesheet" href="../css/carga.css">
    <link rel="icon" type="image/x-icon" href="../storage/img/kario sin kairo.svg">
</head>
<body>
    <div class="centro">
        <div class="icono">
            <img src="../storage/img/kario sin kairo.svg">
        </div>
    </div>
</body>
</html>